@import '../../index.scss';

.landing {
  position: relative;
}

.background {
  .top-wave {
    fill: $primary;
    fill-opacity: 0.9;
  }
  .bottom-wave {
    fill: $primary-dark;
    fill-opacity: 0.9;
  }
}

//TODO: Media queries for mobile. Animations. Scaling improvements.

//Logo design is gonna need some more work but this is good enough to move on. Might need to just make a png
//to resolve some of the alignment issues. Doing it all in CSS might be overkill

.title {
  position: absolute;
  top: 8vh;
  left: 12vw;
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 25vw;
    text-align: left;
    color: $background;

    .title-wrapper {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: left;
      font-size: 80px; //add scaling or just media query?
      font-family: 'Ubuntu';
      font-weight: 500;
      position: relative;
      padding-right: 10px; //add scaling or just media query?
      border-right: 3px solid $background;
    }

    .subtitle-wrapper {
      flex: 2;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: left;
      font-family: 'Roboto';
      font-size: 25px; //add scaling or just media query?
      padding-left: 10px; //add scaling or just media query?
      .subtitle {
        padding: 5px; //add scaling or just media query?
        white-space: nowrap;
      }
    }
  }
}

.menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw; //add better scaling with a base size and Calc
  top: 56vh; //add better scaling with a base size and Calc
  left: 50%;
  transform: translateX(-50%);

  span {
    font-family: $primary-font;
    color: $grey;
    font-size: 2vw; //add better scaling with a base size and Calc
    white-space: nowrap;
    text-align: center;
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
  }

  .recipes {
    width: 11vw;
    margin: 0 4vw 0;

    svg {
      width: 100%;
      stroke: $grey;
    }
  }
  .generate {
    width: 11vw;
    margin: 0 4vw 0;

    svg {
      width: 100%;
      stroke: $grey;
    }
  }
  .resources {
    width: 11vw;
    margin: 0 4vw 0;

    svg {
      width: 100%;
      stroke: $grey;
    }
  }
}
