@import '../../index.scss';

.landing {
  position: relative;
  .logo {
    svg {
      height: 33vh;
    }
  }
}

//TODO: Media queries for mobile. Animations. Scaling improvements.

//Logo design is gonna need some more work but this is good enough to move on. Might need to just make a png
//to resolve some of the alignment issues. Doing it all in CSS might be overkill

.menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw; //add better scaling with a base size and Calc
  top: 50vh; //add better scaling with a base size and Calc
  left: 50%;
  transform: translateX(-50%);

  span {
    font-family: $primary-font;
    color: $grey;
    font-size: 2vw; //add better scaling with a base size and Calc
    white-space: nowrap;
    text-align: center;
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
  }

  .recipes-button {
    width: 11vw;
    margin: 0 4vw 0;

    svg {
      width: 100%;
      stroke: $grey;
      fill: none;
    }
  }
  .generate-button {
    width: 11vw;
    margin: 0 4vw 0;

    svg {
      width: 100%;
      stroke: $grey;
      fill: none;
    }
  }
  .resources-button {
    width: 11vw;
    margin: 0 4vw 0;
    fill: none;

    svg {
      width: 100%;
      stroke: $grey;
    }
  }
}
