@import '../../index.scss';

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  align-items: baseline;
  left: 0;
  top: 0;
  right: 0;
  background-color: greenyellow;

  .wrapper {
    .recipes-button {
      width: 3vw;
      display: inline-block;

      svg {
        width: 3vw;
      }
    }

    .generate-button {
      width: 3vw;
      display: inline-block;

      svg {
        width: 100%;
      }
    }
    .resources-button {
      width: 3vw;
      display: inline-block;

      svg {
        width: 100%;
      }
    }
  }
}
