@import '../../index.scss';

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  align-items: baseline;
  left: 0;
  top: 0;
  right: 0;
  background-color: $primary;

  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 1vw;
    transform: translateY(-50%);
    white-space: nowrap;
    font-family: $logo-font;
    font-size: 3vw; //sort out the scaling when app works and styling refinement starts
    color: $background;
  }

  a {
    //I'm sure there's a more elegant way of accomplishing this but this for the tags transpiled from react-router-dom <Link>
    color: inherit;
    text-decoration: inherit;
  }

  /*postponing navbar (and all other) animations and styling refinements until basic app functionality is in place.
  I'm spending too much time writing CSS.*/

  .nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $grey;
    font-family: $primary-font;
    color: $background;

    .recipes-button {
      width: auto;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 100%;
        stroke: $background;
      }
      div {
        text-align: center;
        font-size: 2vw;
        overflow: hidden;
        // width: 0;
      }
    }

    .generate-button {
      width: auto;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 100%;
        stroke: $background;
      }
      div {
        text-align: center;
        font-size: 2vw;
        overflow: hidden;
        // width: 0;
      }
    }
    .resources-button {
      width: auto;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 100%;
        stroke: $background;
      }
      div {
        text-align: center;
        font-size: 2vw;
        overflow: hidden;
        // width: 0;
      }
    }
  }
}
