@import '../../index.scss';

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.search {
  position: relative;
  width: 380px;
  height: 22px;
  float: left;
  left: 4.3vw;
  .search-form {
    .search-wrapper {
      width: 380px;
      height: 22px;
      display: inline-flex;
      border-radius: 15px;
      overflow: hidden;
      background-color: $background;
      border: 2px solid rgba(68, 68, 68, 0.1);
      input {
        width: 100%;
        border: 0;
        flex: 1;
        background-color: $background;
        border-radius: 15px;
        padding-left: 3px;
      }
      svg {
        padding-left: 0.5rem;
        padding-right: 0.3rem;
        padding-top: 0.05rem;
        top: 50%;
        width: 20px;
        height: 20px;
        fill: none;
        stroke: #444444;
      }
    }
  }
}
