@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

// Global Colors
$primary-background: #ddd9d9;

//Global Fonts
$logo-font: 'Roboto Mono';
//$primary-font

body {
  background-color: $primary-background;
}
